.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

@media screen and (max-width: 767px) {
  .content {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}
