.container {
  min-height: calc(100vh - 58px); 
  margin-bottom: 68px; /* This should be at least the height of the footer */
}

.navContainer {
  padding: 1rem 2rem;
  display: flex;
  column-gap: 20px;
}

.footerContainer {
  padding: 18px;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #333;
  z-index: 999;
}
